version: '3.7'
services:

  mysql:
    image: mysql:5.7
    container_name: reciplease_mysql_3306
    ports:
      - 3306:3306
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    volumes:
      - ./instances/mysql:/var/lib/mysql
    restart: always
    stdin_open: true
    tty: true