name: Testing

on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ feature/* ]

env:
  MVN: mvn

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Cache maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('pom.xml') }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Run tests
        run: make test

      - name: Upload code coverage
        uses: codecov/codecov-action@v1
        with:
          files: |
            core/target/my-reports/jacoco.xml,
            database/target/my-reports/jacoco.xml,
            web/target/my-reports/jacoco.xml
          fail_ci_if_error: true